.shining {
  text-align: center;
  background: linear-gradient(90deg,#d71ef9 10%,#1bee97 40%,#0057ff 60%,#d71ef9 90%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 6s linear infinite;
  animation: shine 6s linear infinite
}

@-webkit-keyframes shine {
  to {
      background-position: 200%
  }
}

@keyframes shine {
  to {
      background-position: 200%
  }
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #5e5e5e;
}